@{
    ViewBag.Title = "Kontaktne informacije";
}
<h2>@ViewBag.Title</h2>

<address>
    Lorem-Ipsum d.o.o. <br />
    Cestna ulica 9<br />
    1000, Ljubljana, Slovenija<br />
</address>

<address>
    <strong>Informacije glede dostave:</strong>   <a href="mailto:Dostave@loremipsum.si">Dostave@loremipsum.si</a>, 673 32 01<br />
    <strong>Podpora za spletno aplikacijo:</strong>   <a href="mailto:Podpora@loremipsum.si">Podpora@loremipsum.si</a>, 673 32 02<br />
</address>