@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Račun onesposobljen";
}

<hgroup>
    <h1 class="text-danger">Račun onesposobljen.</h1>
    <h2 class="text-danger">Vaš račun je bil onesposobljen. Za več informacij kontaktirajte podporo.</h2>
</hgroup>
